/* game board table */
body {
	text-align: center;
	background-image: url(images/chips-bg-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

button {
	font-family: 'Poppins';
	font-size: 32px;
	position: absolute;
	display: inline;
	z-index: 1;
	line-height: 60px;
	font-weight: bold;
	padding: 0 40px;
	background: rgba(0, 0, 250, 0.7);
	color: white;
	border-radius: 15px;
	border: none;
	margin: auto;
}
button:hover {
	background-color: blue;
}

alert {
	font-size: 45px;
}

#title {
	background-color: black;
	width: 450px;
	height: 120px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-size: 65px;
	border-radius: 125px;
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 15px;
}
#four {
	color: red;
	font-size: 100px;
}

#game {
	background-color: #fefd98;
	padding: 20px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 15px;
	border-style: solid;
	border-color: gray;
	box-shadow: 20px 20px 50px grey;
}

#board {
	border-color: black;
	position: relative;
}

#board td {
	background-color: white;
	width: 50px;
	height: 50px;
	border: solid 1px #666;
	margin: auto;
	border-radius: 100%;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles - DONE */
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece - DONE */

.player1 {
	background-color: red;
}

.player2 {
	background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border-radius: 100%;
	border: dashed 1px lightgray;
}
